@font-face {
	font-family: 'yekan';
	src: url('../assets/fonts/Yekan.eot');
	src: url('../assets/fonts/Yekan.eot?#iefix') format('embedded-opentype'),
		 url('../assets/fonts/Yekan.woff') format('woff'),
		 url('../assets/fonts/Yekan.ttf') format('truetype'),
		 url('../assets/fonts/Yekan.svg#yekan') format('svg');
	font-style: normal;
	font-weight: bold;
}

@font-face {
    font-family: 'myriad';
    src: url('../assets/fonts/MYRIADPROREGULAR.eot');
    src: url('../assets/fonts/MYRIADPROREGULAR.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/MYRIADPROREGULAR.woff') format('woff'),
         url('../assets/fonts/MYRIADPROREGULAR.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../assets/fonts/IRANSansWebFaNum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../assets/fonts/IRANSansWebFaNum-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../assets/fonts/IRANSansWebFaNum-UltraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../assets/fonts/IRANSansWebFaNum-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../assets/fonts/IRANSansWebFaNum-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IRANYekan';
    src: url('../assets/fonts/IRANYekanWebFaNum.eot');
    src: url('../assets/fonts/IRANYekanWebFaNum.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/IRANYekanWebFaNum.woff') format('woff'),
    url('../assets/fonts/IRANYekanWebFaNum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRANYekan';
    src: url('../assets/fonts/IRANYekanWebFaNum-Light.eot');
    src: url('../assets/fonts/IRANYekanWebFaNum-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/IRANYekanWebFaNum-Light.woff') format('woff'),
    url('../assets/fonts/IRANYekanWebFaNum-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IRANYekan';
    src: url('../assets/fonts/IRANYekanWebFaNum-Bold.eot');
    src: url('../assets/fonts/IRANYekanWebFaNum-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/IRANYekanWebFaNum-Bold.woff') format('woff'),
    url('../assets/fonts/IRANYekanWebFaNum-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


*{
	font-family: IRANSans , IRANYekan;
	direction: rtl;
    text-align: right;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

a, a:hover{
	text-decoration: none;
	color: #000;
}

li{
	list-style: none;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body{
	background-color: #dadada;
}

@media (min-width: 768px){
	.col-md-4 {
		max-width: 32%;
		margin: 0.6%;
	}
}
div#main {
	
}
div#main div.container {
	margin: 20px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 11px 0px #8c8c8c;
    overflow: auto;
}
div#main div.container div.row {
	
}
div#main div.container div.row div.navbar {
	width: 100%;
}
div#main div.container div.row div.navbar div.col-md-10 {
	
}
div#main div.container div.row div.navbar div.col-md-10 img {
	width: 100px;
	display: inline-block;
}
div#main div.container div.row div.navbar div.col-md-10 p {
	display: inline-block;
}
div#main div.container div.row div.navbar div.col-md-2 {
	
}
div#main div.container div.row div.navbar div.col-md-2 a {
	
}
div#main div.container div.row div.navbar div.col-md-2 a button {
	width: 100%;
}
div#main div.container div.row div.main {
	
}
div#main div.container div.row div.main div.section {
	float: right;
	border-radius: 5px;
}
div#main div.container div.row div.main div.section.section1 {
	background: #d0e2ff;
}
div#main div.container div.row div.main div.section.section2 {
	background: #f34444;
}
div#main div.container div.row div.main div.section.section3 {
	background: #a6fe82;
}
div#main div.container div.row div.main div.section div.row {
	padding: 10px;
}
div#main div.container div.row div.main div.section div.row p {
	font-weight: bold;
}
div#main div.container div.row div.main div.section div.row img {
	width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 5px;
}
div#main div.container div.row div.main div.section div.row ul {
	width: 85%;
    margin: 0 auto;
    padding: 0;
}
div#main div.container div.row div.main div.section div.row ul a {
	overflow: hidden;
}
div#main div.container div.row div.main div.section div.row ul a li {
	line-height: 35px;
	background: #ffffff85;
	margin: 5px;
	padding: 0 5px;
	border-radius: 5px;
	text-align: center;
}
div#main div.container div.row div.main div.section.section1 div.row ul a li:hover{
	background: #8fcff5;
}
div#main div.container div.row div.main div.section.section2 div.row ul a li:hover{
	background: #d41919;
}
div#main div.container div.row div.main div.section.section3 div.row ul a li:hover{
	background: #6bd241;
}
div#main div.container div.row div.main div.section div.row ul.text-right a li {
	text-align: right;
}
div#main div.container div.row div.main div.section div.row ul a li small {
	
}
div#main div.container div.row div.main div.section div.row ul a li small.label {
	width: 100px;
	display: inline-block;
}
div#main div.container div.row div.main div.section div.row ul a li i {

}
div#main div.container div.row div.main div.section div.row ul a li span {

}
div#main div.container div.row div.main div.section div.row a button {

}



/*ill-list*/
div#main div.container div.list {
	background-color: #d8fffc;
	border-radius: 5px;
	padding: 35px 80px 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	overflow: auto;
}
div#main div.container div.list h4 {
	color: #3bc0a8;
	margin-bottom: 20px;
}
div#main div.container div.list ul {
	
}
div#main div.container div.list ul li{
	background-color: #92dbd4;
	border-radius: 5px;
	margin-bottom: 10px;
	line-height: 60px;
	font-weight: 600;
}
div#main div.container div.list ul li:hover{
	background-color: #78c5bf;
}
div#main div.container div.list ul li img {
	width: 50px;
	height: 50px;
	margin: 10px;
}
div#main div.container div.list ul li span.name {

}
div#main div.container div.list ul li span.fa-name {

}
div#main div.container div.list ul li span.ill-name {

}




/*personal-info*/

div.personal-info{
	background-color: #d8fffc;
	border-radius: 5px;
	margin-bottom: 30px;

	overflow: auto;
}
div.personal-info ul.nav {
	background-color: #92dbd4;
	height: 60px;
	line-height: 60px;
	margin: 30px auto 30px;
	border-radius: 5px;
}
div.personal-info ul.nav a{
	
}
div.personal-info ul.nav a li{
	color: #ffffff;

}
div.personal-info ul.nav a li.active{
	color: #54b1a3;
}
div.personal-info ul.nav a li:hover{
	color: #54b1a3;
}
div.personal-info h4{
	color: #54b1a3;
	margin: 0 auto;
}
div.personal-info form{
	padding-bottom: 20px;
}
div.personal-info form div.row{
	margin: 0px;
}
div.personal-info form input{
	background-color: #ffffff;
	color: #83aba7;
	line-height: 45px;
	margin: 5px auto 5px;
	border: 2px solid #aeefe4;
	border-radius: 10px;
	text-align: center;
}
div.personal-info form input[type="text"]{
	
}
div.personal-info form input[type="submit"]{
	color: #fff;
	background-color: #aeefe4;
	margin-top: 20px;
}