@font-face {
	font-family: 'yekan';
	src: url('../assets/fonts/Yekan.eot');
	src: url('../assets/fonts/Yekan.eot?#iefix') format('embedded-opentype'),
		 url('../assets/fonts/Yekan.woff') format('woff'),
		 url('../assets/fonts/Yekan.ttf') format('truetype'),
		 url('../assets/fonts/Yekan.svg#yekan') format('svg');
	font-style: normal;
	font-weight: bold;
}

@font-face {
    font-family: 'myriad';
    src: url('../assets/fonts/MYRIADPROREGULAR.eot');
    src: url('../assets/fonts/MYRIADPROREGULAR.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/MYRIADPROREGULAR.woff') format('woff'),
         url('../assets/fonts/MYRIADPROREGULAR.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../assets/fonts/IRANSansWebFaNum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../assets/fonts/IRANSansWebFaNum-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../assets/fonts/IRANSansWebFaNum-UltraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../assets/fonts/IRANSansWebFaNum-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../assets/fonts/IRANSansWebFaNum-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IRANYekan';
    src: url('../assets/fonts/IRANYekanWebFaNum.eot');
    src: url('../assets/fonts/IRANYekanWebFaNum.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/IRANYekanWebFaNum.woff') format('woff'),
    url('../assets/fonts/IRANYekanWebFaNum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRANYekan';
    src: url('../assets/fonts/IRANYekanWebFaNum-Light.eot');
    src: url('../assets/fonts/IRANYekanWebFaNum-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/IRANYekanWebFaNum-Light.woff') format('woff'),
    url('../assets/fonts/IRANYekanWebFaNum-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IRANYekan';
    src: url('../assets/fonts/IRANYekanWebFaNum-Bold.eot');
    src: url('../assets/fonts/IRANYekanWebFaNum-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/IRANYekanWebFaNum-Bold.woff') format('woff'),
    url('../assets/fonts/IRANYekanWebFaNum-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


*{
	font-family: IRANSans , IRANYekan;
	direction: rtl;
    text-align: right;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

a, a:hover{
	text-decoration: none;
	color: #000;
}

li{
	list-style: none;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body{
	background-color: #dadada;
}

@media (min-width: 768px){
	.col-md-4.section {
    	width: 31%;
    	margin: 10px 1%;
	}
}
div#main {
	padding: 20px;
}
div#main div.main {
/*	margin: 20px auto;*/
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 11px 0px #8c8c8c;
    /*overflow: auto;*/
    padding: 10px 20px;
}
div#main div.main div.row {
	
}
div#main div.main div.row div.navbar {
	width: 100%;
}
div#main div.main div.row div.navbar div.col-md-10 {
	
}
div#main div.main div.row div.navbar div.col-md-10 img {
	width: 100px;
	display: inline-block;
}
div#main div.main div.row div.navbar div.col-md-10 p {
	display: inline-block;
}
div#main div.main div.row div.navbar div.col-md-2 {
	
}
div#main div.main div.row div.navbar div.col-md-2 a {
	
}
div#main div.main div.row div.navbar div.col-md-2 a button {
	width: 100%;
}
div#main div.main div.row div.main {
	
}
div#main div.main div.row div.main div.section {
	opacity: 0;
	float: right;
	border-radius: 5px;
	min-height: 97%;
}
div#main div.main div.row div.main div.section.section1 {
	background: #d0e2ff;
}
div#main div.main div.row div.main div.section.section2 {
	background: #f34444;
}
div#main div.main div.row div.main div.section.section3 {
	background: #a6fe82;
}
div#main div.main div.row div.main div.section div.row {
	padding: 10px;
}
div#main div.main div.row div.main div.section div.row p {
	font-weight: bold;
}
div#main div.main div.row div.main div.section div.row img {
	width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 5px;
}
div#main div.main div.row div.main div.section div.row ul {
	width: 85%;
    margin: 0 auto;
    padding: 0;
}
div#main div.main div.row div.main div.section div.row ul a {
	overflow: hidden;
}
div#main div.main div.row div.main div.section div.row ul a li {
	line-height: 35px;
	background: #ffffff85;
	margin: 5px;
	padding: 0 5px;
	border-radius: 5px;
	text-align: center;
}
div#main div.main div.row div.main div.section.section1 div.row ul a li:hover{
	background: #8fcff5;
}
div#main div.main div.row div.main div.section.section2 div.row ul a li:hover{
	background: #d41919;
}
div#main div.main div.row div.main div.section.section3 div.row ul a li:hover{
	background: #6bd241;
}
div#main div.main div.row div.main div.section div.row ul.text-right a li {
	text-align: right;
}
div#main div.main div.row div.main div.section div.row ul a li small {
	
}
div#main div.main div.row div.main div.section div.row ul a li small.label {
	width: 100px;
	display: inline-block;
}
div#main div.main div.row div.main div.section div.row ul a li i {

}
div#main div.main div.row div.main div.section div.row ul a li span {

}
div#main div.main div.row div.main div.section div.row a button {

}



/*ill-list*/
div#main div.main div.list {
	background-color: #d8fffc;
	border-radius: 5px;
	padding: 35px 80px 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	overflow: auto;
}
div#main div.main div.list h4 {
	color: #3bc0a8;
	margin-bottom: 20px;
}
div#main div.main div.list ul {
	
}
div#main div.main div.list ul li{
	background-color: #92dbd4;
	border-radius: 5px;
	margin-bottom: 10px;
	line-height: 60px;
	font-weight: 600;
}
div#main div.main div.list ul li:hover{
	background-color: #78c5bf;
}
div#main div.main div.list ul li img {
	width: 50px;
	height: 50px;
	margin: 10px;
}
div#main div.main div.list ul li span.name {

}
div#main div.main div.list ul li span.fa-name {

}
div#main div.main div.list ul li span.ill-name {

}




/*insert-user &
type user*/

div.insert-user{
	background-color: #d8fffc;
	border-radius: 5px;
	margin-bottom: 30px;
	min-height: 550px;
	overflow: hidden;
}
div.insert-user nav{
	
}
div.insert-user nav ol{
	background-color: #92dbd4;
	height: 60px;
	line-height: 40px;
	margin: 30px auto 30px;
	border-radius: 5px;
	overflow: inherit;
}
div.insert-user nav ol li{
	
}
div.insert-user nav ol li a{
	color: #ffffff;
}
div.insert-user nav ol li.active{
	color: #54b1a3;
}
div.insert-user nav ol li a:hover{
	color: #54b1a3;
}
/*
div.insert-user ul.nav {
	background-color: #92dbd4;
	height: 60px;
	line-height: 60px;
	margin: 30px auto 30px;
	border-radius: 5px;
}
div.insert-user ul.nav a{
	
}
div.insert-user ul.nav a li{
	color: #ffffff;

}
div.insert-user ul.nav a li.active{
	color: #54b1a3;
}
div.insert-user ul.nav a li:hover{
	color: #54b1a3;
}
*/
div.insert-user h4{
	color: #54b1a3;
	margin: 20px auto;
}
div.insert-user form{
	padding-bottom: 20px;
}
div.insert-user form div.row{
	margin: 0px;
}
div.insert-user form input{
	background-color: #ffffff;
	color: #83aba7;
	line-height: 45px;
	margin: 5px auto 5px;
	border: 2px solid #aeefe4;
	border-radius: 10px;
	text-align: center;
}
div.insert-user form input[type="text"]{
	
}
div.insert-user form input[type="submit"]{
	color: #fff;
	background-color: #aeefe4;
	margin-top: 20px;
}
div.insert-user form select{
	margin: 20px auto;
	border: 2px solid #aeefe4;
	height: 45px;
	color: #7db5b1;
	padding-right: 50px;

	text-align: center;
	background-image:
	    -webkit-linear-gradient(bottom left, transparent 50%, white 50%),
	    -webkit-linear-gradient(top left, white 50%, transparent 50%),
	    -webkit-linear-gradient(left, #aeefe4, #aeefe4);
	background-image:
	    -o-linear-gradient(bottom left, transparent 50%, white 50%),
	    -o-linear-gradient(top left, white 50%, transparent 50%),
	    -o-linear-gradient(left, #aeefe4, #aeefe4);
	background-image:
	    linear-gradient(to top right, transparent 50%, white 50%),
	    linear-gradient(to bottom right, white 50%, transparent 50%),
	    linear-gradient(to right, #aeefe4, #aeefe4);;
	background-position:
	    calc(100% - 20px) calc(1em + 2px),
	    calc(100% - 15px) calc(1em + 2px),
	    100% 0;
	background-size:
	    5px 5px,
	    5px 5px,
	    2.5em 2.5em;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
}
div.insert-user form select option{
	text-align: center;
}


/*insurance_type*/
div.insert-user div.row{
	margin: 0px auto;
}
div.insert-user div.row div.img{
	margin: 40px 90px 
	vertical-align: bottom;
}
div.insert-user div.row div.img img{
	height: 90%;
	width: 100%;
	border-radius: 10px;
    margin-top: 20px;
}
div.insert-user div.row div.img div.personal_code{
	background-color: #00000088;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #caeee7;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: inherit;
    bottom: 50px;
}
div.insert-user div.row div.col{

}
div.insert-user div.row div.col-md-4{
	margin-top: 70px;
	margin-bottom: 30px;
}
div.insert-user div.row div.col div.row{

}
div.insert-user div.row div.col div.row span{
	line-height: 35px;
}
div.insert-user div.row div.col div.row span.label{
	color: #64c0b1;
}
div.insert-user div.items{
	text-align: center;
	color: #5cafa0;
}
div.insert-user div.items form{
	
}
div.insert-user div.items form input{
	display: block;
	font-weight: 500;
}
div.insert-user div.items form input.ill-info{
	min-height: 100px;

}
div.insert-user div.items div.item{
	background-color: #fff;
	border: 2px solid #aeefe4;
	border-radius: 10px;
	height: 45px;
	margin: 5px auto;
	line-height: 45px;
	text-align: center;
}


/*personal medicine &

*/
div.insert-user div.items div{
	line-height: 40px;
}
div.insert-user div.items div.item{
	vertical-align: top;
}
div.insert-user div.items div span{

}
div.insert-user div.items div span.label{
	text-align: center;
	margin: 0 auto;
    display: block;
}
div.insert-user div.items div span.item{
	display: unset !important;
}


div.insert-user div.items div span.label h5{
	padding: 0px;
	margin: 0px;
	text-align: center;
}
div.insert-user div.items div span.label span{
	padding: 0px;
	margin: 0px;
}
div.insert-user div.items div div.num{
	height: 35px;
	width: 35px;
	border-radius: 20px;
	background-color: #d1e3ff;
	color: #44c3b6;
	margin-top: 3px;
	text-align: center;
	line-height: 35px;
}


div.insert-user div.items div.medicine{
	height: 100px !important;
	line-height: 100px;
	padding-top: 25px;
	overflow: visible;
}
div.insert-user div.items div.item:hover{
	background-color: #f5fafaa3 !important;
}
div.insert-user div.items div.medicine a{

}
div.insert-user div.items div.medicine a div.row{}



/*managerPage*/
div.insert-user div.local-items{
	text-align: center;
}
div.insert-user div.local-items div.local-info{
	background-color: #b0e74e;
	line-height: 65px;
	border-radius: 10px;
	margin: 0px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 10px;
	text-align: center;
}
div.insert-user div.local-items div.local-info h6{
	line-height: 65px;
	text-align: center;
}
div.insert-user div.local-items div.local-info div.num{
	font-weight: 600;
	text-align: center;
}

div.insert-user div.items div.item div.time{
	color: #000;
}


/*main*/
div.main_page{}
div.main_page div{}
div.main_page div h4{
	text-align: center;
	color: #6d7378;
	padding-bottom: 20px;
}
div.main_page .row p {
	text-align: justify;
}
div.main_page .row i {
	border-radius: 100%;
    background: whitesmoke;
    display: block;
    height: 120px;
    margin: 35px auto;
}
div.main_page .row i svg {
	margin: auto;
    display: block;
    padding: 22px 0;
    color: #aee5e0;
    height: 100%;
}
div.main_page div.first_item{
	min-height: 490px;
	width: 100%;
	background-image: url('../assets/img/header.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}
div.main_page div.first_item nav.main_nav{
	background-color: #0000005c;
	min-height: 75px;
}
div.main_page div.first_item nav.main_nav div.navbar-header{}
div.main_page div.first_item nav.main_nav div.navbar-header a{}
div.main_page div.first_item nav.main_nav div.navbar-header a img{
	height: 40px;
	width: 125px;
}
div.main_page div.first_item nav.main_nav ul{
	margin-bottom: 0px;
}
div.main_page div.first_item nav.main_nav ul li{
	margin-left: 40px;
}
div.main_page div.first_item nav.main_nav ul li a{
	color: #ffffff;
}
div.main_page div.first_item nav.main_nav ul li a:hover{
	color: #000000cc;
}
div.main_page div.first_item nav.main_nav button{
	background-color: unset;
	border: 2px solid #ffffff;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	vertical-align: middle;
	height: 40px;
	width: 140px;
}
div.main_page div.first_item nav.main_nav button:hover{
	background: #fff;
	color: #0000009c;
	cursor: pointer;
}
div.main_page div.second_item{
	min-height: 400px;
	background-color: #f3f3f3;
	padding-top: 40px;
}
div.main_page div.second_item div.row{}
div.main_page div.second_item div.row div.explain{
	line-height: 30px;
    text-align: justify;
}
div.main_page div.second_item div.row div.brand{}
div.main_page div.second_item div.row div.brand img{}
div.main_page div.third_item{
	min-height: 550px;
	background-color: #aee5e0;
	padding-top: 40px;
}
div.main_page div.third_item div.row{
	position: relative;
	right: 75px;
}
div.main_page div.third_item div.row div.item{
	height: 400px;
	width: 300px;
	background-color: #ffffff;
	margin: 20px;
}
div.main_page div.third_item div.row div.item p{
	text-align: center;
}
div.main_page div.forth_item{
	min-height: 550px;
	background-color: #89f68d;
	padding-top: 40px;
	text-align: center;
}
div.main_page div.forth_item p{
	color: #638e70;
	text-align: center;
}
div.main_page div.forth_item form{
	text-align: -webkit-center;
	text-align: -moz-center;
	margin-top: 50px;
}
div.main_page div.forth_item form input{
	display: block;
	text-align: center;
	background-color: unset;
	border: 0;
	border-bottom: 3px solid #ffffff;
	margin-bottom: 10px;
	line-height: 55px;
	width: 400px;
	color: #ffffff;
}
/*div.main_page div.forth_item form input:hover{
	background: #638e704a;
	border-bottom: 3px solid #128f16;
}*/
div.main_page div.forth_item form input:focus{
	/*background: #638e704a;*/
	outline: none;
	border-bottom: 3px solid #128f16;
}
div.main_page div.forth_item form input.massage{
	min-height: 110px;
}
div.main_page div.forth_item form input[type="text"]{
	
}
div.main_page div.forth_item form input[type="email"]{}
div.main_page div.forth_item form input[type="submit"]{
	background-color: #ffffff;
	color: #86a875;
	border-bottom: none;
}
div.main_page div.forth_item form input[type="submit"]:hover{
	background: #4fe154;
	color: #0000009c;
	cursor: pointer;
}

/*footer*/
footer{
	position: relative;
	bottom: 9px;
	background-color: #3b3b3b;
	padding-top: 75px;
	color: #585858;
	overflow: auto;
}
footer div{}
footer div div.items{
	min-height: 300px;
}
footer div div.items div{}
footer div div.items div h6{
	text-align: center;
	font-size: 21px;
    color: #909090;
}
footer div div.items div p{text-align: justify;}
footer div div.items div ol{}
footer div div.items div ol li{
	list-style: square;
	margin-bottom: 7px;
}
footer div div.items div ol.comunication{
	color: #37cbdd;
}
footer div div.items div ol.comunication li{
	padding-right: 10px;
}
footer div div.items div ol.customers{
	color: #00f317;
}
footer div div.items div ol.customers li{
	
}
footer div div.items div ol.customers li span{
	color: #585858;
}
footer div div.items div ol li div{
	color: #585858;;
}
footer div div.items div ol li div div.label{}
footer div div.items div ol li div div.item{}
footer div div.tells{
	direction: ltr;
}
/*bootstrap*/

.breadcrumb-item+.breadcrumb-item::before{
	padding: 0 1rem;
}